<div class="addressLookup ">
  <input class="form-control" id="street" name="street" type="text" value="street address">
  <input class="form-control" id="apt" name="apt" type="text" value="apt">
  <input class="form-control" id="city" name="city" type="text" value="city">
  <select id = "state_dd" class="form-control"><option>state</option><option value="CT">CT</option><option value="NJ">NJ</option><option value="NY">NY</option></select>
  <input class="form-control" id="zip" name="zip" type="text" value="zip code">
  <div class="select__arrow fa fa-angle-down"></div>
  <a role="button" target="blank" href="https://order.optimum.com" class="btn btn-default btn-icon-text" data-event="omtr" data-omtr="true">Start shopping<span class="glyph glyph-angle-right "></span></a>
</div>
<style>
.addressLookup {
  float: left;
  margin-left: 30px;
  margin-top: 6px;
  width: 88%;
}
.addressLookup .form-control {
  font-size: 12px;
  padding: 6px 8px;
}
.addressLookup input.form-control[type="text"] {
  border-radius: 6px;
  float: left;
  margin-right: 7px;
}
.addressLookup input.form-control[name="street"] {
  width: 23% !important;
}
.addressLookup input.form-control[name="apt"] {
  width: 10% !important;
}
.addressLookup input.form-control[name="city"] {
  width: 16% !important;
}
.addressLookup input.form-control[name="zip"] {
  width: 12% !important;
}
.addressLookup .btn.btn-default {
  float: left;
  font-size: 14px;
  line-height: 31px;
  margin-left: 7px;
  padding: 4px 10px;
}
.addressLookup #state_dd {
  float: left;
  width: 13%;
}
.order-msg {
  color: #fff;
  float: left;
  font-family: "Regular-Extrabold";
  font-size: 20px;
  line-height: 24px;
}
#resiConnectFooter .footer-float-left {
  padding-right: 0;
  width: 81%;
}
#resiConnectFooter .footer-float-content > container{
  padding: 0;
}
#resiConnectFooter .footer-float.no-cart .footer-float-content .footer-float-right a{
  margin-right:0;
}
.footer-float-right.phone-number{
  margin-top: 16px;
}
</style>
